<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiscoverNUS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
				<key>dateExpires</key>
				<string>24/7/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCodeDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1833362C4F6FA4EE81C86A8745B5343F5C0379</string>
						<key>dateExpires</key>
						<string>24/7/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TY7JKMP2B</string>
						<key>name</key>
						<string>Han Xi Leung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2TY7JKMP2B.com.NUS.DiscoverNUS.orbital</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>2TY7JKMP2B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DiscoverNUS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ab7d339c-2910-4e90-8e93-e9b6ffff0743</string>
				<key>dateExpires</key>
				<string>24/7/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.NUS.DiscoverNUS.orbital</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2TY7JKMP2B</string>
				<key>name</key>
				<string>Han Xi Leung</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
