<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.35954683565-rd4v2befbfhdt7s09aj10gm3j3nk9k8l</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>35954683565-rd4v2befbfhdt7s09aj10gm3j3nk9k8l.apps.googleusercontent.com</string>
</dict>
</plist>
